.login {
  width: 80vw;
  margin: 5vw auto;
  @media screen and (min-width: 600px){
    width: 450px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  a {
    display: block;
    padding: 15px 0;
    margin-top: 20px;
    font-size: 18px;

    span {
      color: #357ae8;
    }
  }
}