@import '../../scss/settings/_variables.scss';

header {
  height: 70px;
  max-width: $container;
  margin: 0 auto 25px;
  display: flex;
  justify-content: space-between;

  .logo-container {
    height: 100%;
    width: 70px;
    display: flex;
    align-items: center;
    padding-left: 7.5px;
  }

  nav {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .navigation-item {
      padding: 10px 7.5px 10px 15px;
      margin-left: 15px;
      cursor: pointer;
    }
  }
}