.cart-dropdown {
  position: fixed;
  width: 320px;
  max-width: 75%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 200;
  background-color: #fff;
  padding: 32px 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;

  @media screen and (max-width: 800px) {
    padding: 22px 0;
  }

  &.open {
    transform: translateX(0);
  }

  .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: 1px solid #000;
    padding: 0 16px 22px 16px;

  }

  .cart-items {
    height: calc(100vh - 236px);
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }


  .cart-footer {
    height: 156px;
    position: absolute;
    padding-bottom: 32px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(129, 129, 129, 0.2) 0px 0px 10px 0px;
    color: rgb(49, 51, 53);
    border-top: 1px solid rgba(129, 129, 129, 0.2);

    @media screen and (max-width: 800px) {
      padding-bottom: 22px;
    }

    .cart-checkout {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
    }

  }

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  button {
    margin: 0 auto;
  }
}

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cart-cross {
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: url(https://ecommerce-shopmax.netlify.app/static/media/delete.e555c8a0.svg) center center / 60% no-repeat;
  transition: transform 0.35s ease 0s;
}